@charset "utf-8";
/* CSS Document */
body{background:transparent;
	background-size: 100%;
background-origin:padding-box; }


header{margin-bottom: 20px;}
.wolf{
	width: 75%;
	height: auto;
	float: left;
	margin-left: 15%;
}

footer{
	width: 100%; height: auto; float: left; margin-top: 20px; margin-bottom: 1%;
}

footer>p{text-align: center; color: aqua; font-size: 16pt;}

